<footer id="footer" class="footer" th:fragment="footer">
</footer><!-- End Footer -->

<div th:fragment="lien">
    <script src="http://localhost/CDN-NiceAdmin//vendor/apexcharts/apexcharts.min.js"></script>
    <script src="http://localhost/CDN-NiceAdmin//vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="http://localhost/CDN-NiceAdmin//vendor/chart.js/chart.umd.js"></script> 
    <script src="http://localhost/CDN-NiceAdmin//vendor/echarts/echarts.min.js"></script> 
    <script src="http://localhost/CDN-NiceAdmin/assets/vendor/quill/quill.js"></script> 
    <script src="http://localhost/CDN-NiceAdmin/assets/vendor/simple-datatables/simple-datatables.js"></script> 
    <script src="http://localhost/CDN-NiceAdmin//vendor/tinymce/tinymce.min.js"></script>
    <script src="http://localhost/CDN-NiceAdmin/assets/vendor/php-email-form/validate.js"></script> 
    <script src="http://localhost/CDN-NiceAdmin//js/main.js"></script>
    <script src="/Ticketing/assets/js/vol-insertion.js"></script>
</div>